$control_size : 100%;
$control_padding : 5px;
table {
    border: 1px solid blue;
    border-collapse: collapse;
}

td {
    border: 1px solid blue;
        background-color: #eee;
}

.tableHeader {
    font-weight: bold;
    text-align: center;
}

.pokemon {
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
}
.count {
    text-align: right;
    padding-right: 3px;
}
.num {
    text-align: right;
    padding-right: 3px;
}
.tableContainer {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #aaa;
}
.decrement {
    padding-left: $control_padding;
    padding-right: $control_padding;
    font-weight: bold;
    font-size: $control_size;
    background-color: red;
}
.increment {
    font-weight: bold;
    background-color: green;
    font-size: $control_size;
    padding-left: $control_padding;
    padding-right: $control_padding;
}
.inline {
    display: inline-block;
}
.candyValue {
    font-weight: bold;
    font-size: 100%;
    padding-left: $control_padding;
    padding-right: $control_padding;
    width: 30px;
    text-align: center;
}
.countValue {
    font-weight: bold;
    font-size: 100%;
    padding-left: $control_padding;
    padding-right: $control_padding;
    width: 20px;
    text-align: center;
}
.evolveReport {
    padding: 5px;
    margin: 5px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #cdf;
}
button {
    border: 1px solid #444;
    border-radius: 4px;
    padding: 1px;
    margin: 1px;
}